header{
color: #333333;
text-align: center;
margin: 50px;
}

h1{
font-family: sans-serif;
text-decoration: overline underline;
font-size: 60px;
margin-top: 20px;
}

h4{
text-align: center;
font-family: sans-serif;
font-style: italic;
font-weight: lighter;
font-size: 20px;
}

main{
text-align: right;
margin-top: 50px;
background-color: #eee;

display: grid;
width: 1420px;
grid-template-columns: 350px 250px 300px;
grid-gap: 150px;
grid-template-areas:
"touring foodanddrinks clubs";
}

section #touring{
grid-area: touring;
}

section #food-and-drinks{
grid-area: foodanddrinks;
}

section #clubs{
grid-area: clubs;
}

section h2{
color: #cccccc;
font-family: sans-serif;
font-size: 20px;
text-decoration: none;
font-weight:600;
}

section img{
margin-left: 40px;
margin-right: 40px;
margin-top: 10px;
}


/* xxxxxx  */


.fooddrinks{
text-align: center;
font-family: sans-serif;
}

/* h5{

}

section h2{
  color: #333333;
  text-decoration: none;
}

p{

} */
