header{
color: #333333;
text-align: center;
margin: 50px;
}

h1{
font-family: sans-serif;
text-decoration: overline underline;
font-size: 60px;
margin-top: 20px;
}

h4{
text-align: center;
font-family: sans-serif;
font-style: italic;
font-weight: lighter;
font-size: 20px;
}

main{
text-align: right;
margin: 50px;

display: grid;
max-width: 4500px;
max-height:2000px;
background-color: #eee;

grid-template-columns: 350px 250px 300px;
grid-gap: 150px;
grid-template-areas:
"touring foodanddrinks clubs";
}

section #touring{
grid-area: touring;
color: #333333;
text-decoration: none;
}

section #food-and-drinks{
grid-area: foodanddrinks;
color: #333333;
text-decoration: none;
}

section #clubs{
grid-area: clubs;
color: #333333;
text-decoration: none;
}

main h3{
color: #333333;
font-family: sans-serif;
font-size: 60px;
margin: 5px;
}

h3{
color: red;
}

h5{

}

section img{
margin-left: 40px;
margin-right: 40px;
margin-top: 10px;
}

section h2{
  color: #333333;
  text-decoration: none;
}

p{

}
